<!DOCTYPE html>
<html>
<head>
    <title>JS</title>
    <!--<% @jstree.each do |item| %>-->
    <!--<script src="/assets/javascripts/<%= item %>?<%= Time.now.to_i %>"></script>-->
    <!--<% end %>-->
    <script src="/assets/javascripts/bootstrap.js?<%= Time.now.to_i %>"></script>

    <!--<% @csstree.each do |item| %>-->
        <!--<link href="/assets/resources/stylesheets/<%= item %>?<%= Time.now.to_i %>" rel="stylesheet" type="text/css">-->
    <!--<% end %>-->
  <link href="/assets/resources/stylesheets/bootstrap.css?<%= Time.now.to_i %>" rel="stylesheet" type="text/css">

    <link href="/assets/application.css?<%= Time.now.to_i %>" rel="stylesheet" type="text/css">
    <script src="/assets/app/bootstrap.js?<%= Time.now.to_i %>"></script>
</head>
<body>

</body>
</html>