<!DOCTYPE html>
<html>
<head>
    <title>JS</title>
    <% @jstree.each do |item| %>
    <script src="/build/javascripts/<%= item %>?<%= Time.now.to_i %>"></script>
    <% end %>

    <% @csstree.each do |item| %>
        <link href="/build/resources/css/<%= item %>?<%= Time.now.to_i %>" rel="stylesheet" type="text/css"></css>
    <% end %>

    <link href="/assets/application.css?<%= Time.now.to_i %>" rel="stylesheet" type="text/css">
    <script src="/assets/app/bootstrap.js?<%= Time.now.to_i %>"></script>
</head>
<body>

</body>
</html>